.messageInputContainer {
  position: relative;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 17px;
  opacity: 1;
  padding-bottom: 40px;
}

.messageInput {
  width: 100%;
  min-height: 20px;
  border: none;
  outline: none;
  background: transparent;
  padding: 15px 15px 5px 15px;
  border-radius: 17px;
  font: normal normal normal 12px/18px "Area Normal", sans-serif;
  letter-spacing: 0px;
  color: #231536;
  resize: none;
  overflow-y: hidden;
  box-sizing: border-box;
  display: block;
}

.messageInput:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.sendButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font: normal normal normal 12px/18px "Area Normal", sans-serif;
  background: #FFD337;
  color: #231536;
  border: none;
  border-radius: 12px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1;
}

.sendButton.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Add styles for the form itself */
.messageForm {
  width: 100%; /* Allow form to take space given by flex parent */
  max-width: 600px; /* Set the desired max-width HERE */
  /* You might need margin: 0 auto; here IF inputWrapper didn't have justify-content: center */
} 